.section-projects {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-light);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: 500;
  top: -100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-section-projects {
  top: 0;
}
.section-projects-center {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  padding: 2rem;
  position: relative;
  z-index: 500;
}
.style-close-projects {
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 800;
  top: 0;
  margin: 1rem;
}
.section-projects-center-content__skills,
.section-projects-center-content {
  width: 100%;
}
.section-projects-center-content__skills ul,
.section-projects-center-contente__projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  place-items: center;
  width: 100%;
  place-content: center;
  gap: 2rem;
margin: 5rem 0;
}
.section-projects-center-content h2 {
  color: var(--white);
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.15em;
}
.is-activate {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 0;
  position: absolute;
}
.next-page-id-class__001 {
  position: fixed;
  right: 0;
  margin: 1rem 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25em;
  color: var(--white);
  font-size: 0.8rem;
  background-color: var(--blue-dark);
  bottom: -100vh;
  transition: 0.5s;
  font-weight: 600;
  letter-spacing: 0.1em;
}
#catchErrors {
  font-size: 0.7rem;
  font-style: italic;
  color: #fb7878;
  margin: -10px 0;
  display: none;
}
/* 
background: rgba(255, 255, 255, 0.18);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.7px);
-webkit-backdrop-filter: blur(7.7px);
*/ /* glass */
/* .react-icon:hover circle,
.sass-icon:hover circle,
.vue-icon:hover circle,
.django-icon:hover circle{
  
} */
.react-icon  circle ,
.sass-icon circle ,
.vue-icon  circle,
.django-icon circle {
transition: 0.3s;
fill: var(--dark);
}
.react-icon:hover ,
.sass-icon:hover ,
.vue-icon:hover ,
.django-icon:hover {
  opacity: 1;
  filter: blur(0px);
}
.react-icon   ,
.sass-icon  ,
.vue-icon  ,
.django-icon  {
transition: 0.3s;
}
.section-projects-center-content,.section-projects-center-content__optional{
  height: 100%;
}
.section-projects-center-content__optional{
  display: grid;
}
.section-projects-center-content__optional__title-principal{
  display: flex;
  align-items: end;
  text-align: center;
  justify-content: center;
  letter-spacing: 5px;
  font-family: 'Cascadia code',Consolas ;
  font-size: 1.2rem;
}
.section-projects-center-content__skills > ul > li{
  display: grid;
  place-items: center;
  place-content: center;
}
.section-projects-center-content__skills p{
  text-align: center;
  font-size: 0.8rem;
  color: var(--white-light);
}
.section-projects-center-content__skills b{
  color: var(--white);
  margin: 1rem 0 0.5rem 0;
  font-size: 1rem;
}
